<!doctype html>
<html lang="en">
<html>
  <head>
  	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="Arizona Agriculture">
    <meta name="author" content="Arizona Geological Survey">
		<title>AZ Agriculture</title>
  	<link rel="stylesheet" href="vendor/leaflet-0.7.2.css" />
		<link rel="stylesheet" href="vendor/font-awesome-4.0.3/css/font-awesome.min.css">
		<link rel="stylesheet" href="vendor/bootstrap-3.1.1.css">
    <link rel="stylesheet" href="style/base.css" />
  	
		<link rel="apple-touch-icon" href="images/favicon-152.png">
    <link rel="shortcut icon" sizes="196x196" href="images/favicon-196.png">
  
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="vendor/html5shiv.js"></script>
        <script src="vendor/respond.min.js"></script>
    <![endif]-->
	
	</head>
  <body>
  	<div id="map"></div>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#content-tab">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">U-Pick Arizona</a>
        </div>
      </div>
    </nav>
    <div id="content-tab" class="collapse navbar-collapse">
      <div class="btn-group btn-group-justified">
        <div class="btn-group">
          <button type="button" href="#toggle-layers" data-toggle="tab" class="btn btn-default active">Layers</button>
        </div>
        <div class="btn-group">
          <button type="button" href="#get-directions" data-toggle="tab" class="btn btn-default">Content</button>
        </div>
        <div class="btn-group">
          <button type="button" href="#download-data" data-toggle="tab" class="btn btn-default">Data</button>
        </div>
      </div>
      <div class="tab-content">
        <div class="tab-pane active" id="toggle-layers">
        </div>
        <div class="tab-pane" id="get-directions">
        </div>
        <div class="tab-pane" id="download-data"></div>
      </div>
    </div>

    <script id="toggle-layers-template" type="text/html">
      <div id="toggle-controller">
        <div id="toggle-all">
          Toggle all farms
          <button id="all" type="button" class="btn btn-primary btn-lng btn-block active">All Farms</button>
        </div>
        <div id="toggle-crops">
          <div>Filter locations by crops</div>
          <div class="btn-group-vertical">
            <% _.each(crops, function (layer) { %>
              <button id=<%= layer["id"] %> type="button" class="btn btn-default"><%= layer["display"] %></button>
            <% }); %>
          </div>
        </div>
        <div id="toggle-seasons">
          <div>Filter locations by season</div>
          <div class="btn-group">
            <% _.each(seasons, function (layer) { %>
              <button id=<%= layer["id"] %> type="button" class="btn btn-default"><%= layer["display"] %></button>
            <% }); %>
          </div>
        </div>
      </div>
    </script>

    <script id="get-directions-template" type="text/html">
      <div id="contrib-form" class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">Get Directions</div>
        </div>
        <div class="panel-body">
          <form role="form">
            <div class="form-group">
              <input type="text" class="form-control" id="geo-start" placeholder="Enter starting location">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="geo-destination" placeholder="Enter destination">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
        <div class="tab-pane" id="show-directions">
      </div>
    </script>

    <script id="show-directions-template" type="text/html">
      <div class="panel panel-default">
          <div class="list-group"></div>
      </div>
    </script>

    <script id="show-directions-items-template" type="text/html">
      <li class="list-group-item">
        <div class="list-group-item-heading"><%= data.index+1 %>. <%= data.text %>
				<p class="step-detail"><%= data.distance %> mi / <%= data.time %> hrs</p></div>
				<div style="clear: both;"></div>
      </li>
    </script>

    <script id="download-data-template" type="text/html">
    </script>

  	<script src="vendor/leaflet-0.7.2.js"></script>
    <script src="scripts/L.FilterGeoJSON.js"></script>
  	<script src="vendor/jquery-1.11.0.js"></script>
		<script src="vendor/typeahead.bundle.min.js"></script>
  	<script src="vendor/underscore-1.6.0.js"></script>
  	<script src="vendor/backbone-1.1.2.js"></script>
    <script src="vendor/d3-v3.js"></script>
		<script src="vendor/bootstrap-3.1.1.js"></script>
  	<script src="scripts/model-layers.js"></script>
  	<script src="scripts/view-layers.js"></script>
  	<script src="scripts/model-routes.js"></script>
  	<script src="scripts/view-routes.js"></script>
		<script src="scripts/model-typeahead.js"></script>
  	<script src="scripts/view-typeahead.js"></script>
  	<script src="scripts/app.js"></script>
  </body>
</html>