<!doctype html>
<html lang="en">
<html>
  <head>
  	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="Arizona Agriculture">
    <meta name="author" content="Arizona Geological Survey">
		<title>AZ Farms</title>
  	<link rel="stylesheet" href="vendor/leaflet-0.7.2.css" />
		<link rel="stylesheet" href="vendor/font-awesome-4.0.3/css/font-awesome.min.css">
		<link rel="stylesheet" href="vendor/bootstrap-3.1.1.css">
    <link rel="stylesheet" href="style/base.css" />
  	
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
		<link rel="apple-touch-icon" href="images/favicon-152.png">
    <link rel="shortcut icon" sizes="196x196" href="images/favicon-196.png">
  
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="vendor/html5shiv.js"></script>
        <script src="vendor/respond.min.js"></script>
    <![endif]-->
	
	</head>
  <body>
  	<div id="map"></div>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
					<a class="navbar-brand" href="#">U-Pick Arizona</a>
          <button type="button" class="navbar-toggle" data-target="#content-tab">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      </div>
    </nav>
    <div id="content-tab">
      <div id="content-window">
        <div class="tab-control btn-group btn-group-justified">
          <div class="btn-group">
            <button type="button" id="toggle-layers-btn" href="#toggle-layers" data-toggle="tab" class="btn btn-default active">Farms</button>
          </div>
          <div class="btn-group">
            <button type="button" id='get-content-btn' href="#get-content" data-toggle="tab" class="btn btn-default">Detail</button>
          </div>
					<div class="btn-group">
            <button type="button" id='get-directions-btn' href="#get-directions" data-toggle="tab" class="btn btn-default">Directions</button>
          </div>
        </div>
        <div class="tab-content">
          <div class="tab-pane active" id="toggle-layers">
          </div>
          <div class="tab-pane" id="get-content">
          </div>
					<div class="tab-pane" id="get-directions">
          </div>
        </div>
      </div>
    </div>

    <script id="toggle-layers-template" type="text/html">
      <div id="toggle-controller">
        <div id="toggle-all">
          <h4>Toggle all farms</h4>
          <button id="all" type="button" class="btn btn-primary btn-lng btn-block active">All Farms</button>
        </div>
        <div id="toggle-crops">
          <h4>Find Farms by Crop</h4>
					<h5>Always call ahead (hours and offering may change)</h5>
          <div class="btn-group-vertical">
            <% _.each(crops, function (layer) { %>
              <button id=<%= layer["id"] %> type="button" class="btn btn-default"><%= layer["display"] %></button>
            <% }); %>
          </div>
        </div>
        <div id="toggle-seasons">
          <h4>Find Crops by Season</h4>
					<h5>Can’t find the crop you’re searching for? It might be out of season!</h5>
          <div class="btn-group">
            <% _.each(seasons, function (layer) { %>
              <button id=<%= layer["id"] %> type="button" class="btn btn-default"><%= layer["display"] %></button>
            <% }); %>
          </div>
        </div>
      </div>
    </script>

    <script id="render-content-template" type="text/html">
      <div id="feature-content-tab">
        <h4><%= data.properties.source %></h4>
				<table class="table">
					<tbody
					<tr>
						<td class="contact-info">
							<%= data.properties.street %><br>
							<%= data.properties.area %>, AZ<br>
							<%= data.properties.phone %><br>
							<%= data.properties.email %><br>
						</td>
						<td>
							<input type="image" src="images/directions_sign.png" height="42" width="42" id='get-directions-btn' class="toDirection" href="#get-directions" data-toggle="tab" alt="alternative text" title="Get Directions" source="<%= data.properties.source %>"><br>
							<a class="toDirection" href="#get-directions" data-toggle="tab" alt="alternative text" title="Get Directions" source="<%= data.properties.source %>">Directions</a></input>
						</td>
					</tr>
					</tbody>
				</table>
        <%= data.properties.notes %>
        <br>
        <h5><strong>Products</strong></h5>
          <ul>
            <% _.each(data.properties.crop, function (crop) { %>
              <li><%= crop["type"] %></li>
            <% }); %>
          </ul>
        <h5><strong>Offerings</strong></h5>
          <ul>
            <% _.each(data.properties.store, function (store) { %>
              <li><%= store %></li>
            <% }); %>
          </ul>
				<strong>Hours of Operation:</strong><br>
        <%= data.properties.hours %><br>
				<h5><strong>Owner: </strong><%= data.properties.owner %></h5>
      </div>
    </script>

    <script id="get-directions-template" type="text/html">
      <div id="contrib-form" class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">Get Directions</div>
        </div>
        <div class="panel-body">
          <form role="form">
            <div class="form-group">
              <input type="text" class="form-control" id="geo-start" placeholder="Enter starting location">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="geo-destination" placeholder="Enter destination">
            </div>
            <button type="directions" class="btn btn-default">Submit</button>
          </form>
        </div>
        <div class="tab-pane" id="show-directions">
      </div>
    </script>

    <script id="show-directions-template" type="text/html">
			<div class="panel panel-default">
				<% if (found == true) { %>
					<div class="totals">
							Drive <%= distance %>, <%= time %><br>	
					</div>
					<img src="images/start.png" height="16" width="16"><strong>&nbsp;<%= $("#geo-start").val() %></strong> <br>			
					<div class="list-group"></div>
					<img src="images/stop.png"><strong>&nbsp;<%= $("#geo-destination").val() %></strong>
				<% } %>
				<% if (found == false) { %>
					<img src="images/warning.png">&nbsp;No route found from <%= $("#geo-start").val() %> to <%= $("#geo-destination").val() %>. Check your inputs.
				<% } %>
      </div>
    </script>

    <script id="show-directions-items-template" type="text/html">
      <li class="list-group-item">
				<% if (data != undefined) { %>
        <div class="list-group-item-heading"><%= data.index+1 %>. <%= data.text %>
				<p class="step-detail"><%= data.distance %>
				<% if (data.time != "") { %>
						 / <%= data.time %></p></div>
				<% } %>
					<% } %>
				<div style="clear: both;"></div>
      </li>
    </script>

  	<script src="vendor/leaflet-0.7.2.js"></script>
    <script src="scripts/L.FilterGeoJSON.js"></script>
  	<script src="vendor/jquery-1.11.0.js"></script>
		<script src="vendor/typeahead.bundle.min.js"></script>
  	<script src="vendor/underscore-1.6.0.js"></script>
  	<script src="vendor/backbone-1.1.2.js"></script>
    <script src="vendor/d3-v3.js"></script>
		<script src="vendor/bootstrap-3.1.1.js"></script>
  	<script src="scripts/model-layers.js"></script>
  	<script src="scripts/view-layers.js"></script>
  	<script src="scripts/model-routes.js"></script>
  	<script src="scripts/view-routes.js"></script>
		<script src="scripts/model-typeahead.js"></script>
  	<script src="scripts/view-typeahead.js"></script>
    <script src="scripts/view-bootstrap.js"></script>
    <script src="scripts/view-content.js"></script>
  	<script src="scripts/app.js"></script>
  </body>
</html>