<!doctype html>
<html lang="en">
<html>
  <head>
  	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="Arizona Agriculture">
    <meta name="author" content="Arizona Geological Survey">
		<title>AZ Agriculture</title>
  	<link rel="stylesheet" href="vendor/leaflet-0.7.2.css" />
		<link rel="stylesheet" href="vendor/font-awesome-4.0.3/css/font-awesome.min.css">
		<link rel="stylesheet" href="vendor/bootstrap-3.1.1.css">
    <link rel="stylesheet" href="style/base.css" />
  	
		<link rel="apple-touch-icon" href="images/favicon-152.png">
    <link rel="shortcut icon" sizes="196x196" href="images/favicon-196.png">
  
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="vendor/html5shiv.js"></script>
        <script src="vendor/respond.min.js"></script>
    <![endif]-->
	
	</head>
  <body>
  	<div id="map"></div>
    <div id="content-tab" class="show-tab">
      <div class="navbar" role="navigation">
        <div class="navbar-header">        
          <a class="navbar-brand" href="#">U-Pick Arizona</a>
        </div>
      </div>
      <div class="navbar" role="navigation">
        <ul class="nav nav-pills nav-justified">
          <li><a href="#toggle-layers" data-toggle="tab">Layers</a></li>
          <li><a href="#get-directions" data-toggle="tab">Directions</a></li>
          <li><a href="#download-data" data-toggle="tab">Data</a></li>  
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane" id="toggle-layers">
          <ul class="nav nav-pills nav-stacked"></ul>
        </div>
        <div class="tab-pane" id="get-directions">
        </div>
        <div class="tab-pane" id="download-data"></div>
      </div>
    </div>

    <script id="toggle-layers-template" type="text/html">
      <li>
        <a id=<%= model.get("id") %> href="#"><%= model.get("layerName") %></a>
      </li>
    </script>

    <script id="get-directions-template" type="text/html">
      <div id="contrib-form" class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">Get Directions</div>
        </div>
        <div class="panel-body">
          <form role="form">
            <div class="form-group">
              <input type="text" class="form-control" id="geo-start" placeholder="Enter starting location">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="geo-destination" placeholder="Enter destination">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
        <div class="tab-pane" id="show-directions">
      </div>
    </script>

    <script id="show-directions-template" type="text/html">
      <div class="panel panel-default">
          <div class="list-group"></div>
      </div>
    </script>

    <script id="show-directions-items-template" type="text/html">
      <li class="list-group-item">
        <div class="list-group-item-heading"><%= data.index+1 %>. <%= data.text %>
				<p class="step-detail"><%= data.distance %> mi / <%= data.time %> hrs</p></div>
				<div style="clear: both;"></div>
      </li>
    </script>    

    <script id="download-data-template" type="text/html">
    </script>

  	<script src="vendor/leaflet-0.7.2.js"></script>
  	<script src="vendor/jquery-1.11.0.js"></script>
		<script src="vendor/typeahead.bundle.min.js"></script>
  	<script src="vendor/underscore-1.6.0.js"></script>
  	<script src="vendor/backbone-1.1.2.js"></script>
    <script src="vendor/d3-v3.js"></script>
		<script src="vendor/bootstrap-3.1.1.js"></script>
  	<script src="scripts/model-layers.js"></script>
  	<script src="scripts/view-layers.js"></script>
  	<script src="scripts/model-routes.js"></script>
  	<script src="scripts/view-routes.js"></script>
		<script src="scripts/model-typeahead.js"></script>
  	<script src="scripts/view-typeahead.js"></script>
  	<script src="scripts/app.js"></script>
  </body>
</html>