body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
	overflow: hidden;
}
#map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#content-template {
  position: absolute;
  padding: 0;
  margin: 8px;
  left: 0;
  right: 0;
  bottom: 60px;
  top: 0;
}

.navbar {
  padding: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: 8px;
  margin-bottom: 6px;
  opacity: 0.9;
}

#content-tab {
  display: none;
  width: 100%;
}

#content-tab.active {
  display: block;
  padding: 0;
  margin: 8px;
  left: 0;
  right: 0;
  bottom: 60px;
  max-width: 100%;
}

#content-window {
  position: absolute;
  background-color: #fff;
  opacity: 0.9;
  overflow: auto;
  width: 90%;
  height: 75%;
  margin-left: auto;
  margin-right: auto;
}

.collapsing {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.btn-group-vertical {
  width: 100%;
}

.btn-group {
  width: 100%;
}

.btn-group .btn {
  width: 25%;
}

.btn:focus {
  outline: none;
  background-color: transparent;
}

.btn.active {
  background-color: #3276b1;
  border-color: #285e8e;
  color: #fff;
}

/*
#content-tab {
  background-color: #FFFFFF;
  opacity: 0.9;
  position: absolute;
  border-radius: 4px 4px 4px 4px;
  right: 1%;
  top: 1%;
  bottom: 1%;
  height: 98%;
  width: 33%;
  overflow: auto;
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}

#get-directions {
  padding-right: 3%;
  padding-left: 3%;
  height: 100%;
  max-height: 100%;
  overflow: auto;
}

.navbar {
  margin-bottom: 0px;
}

.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: #000;
}

.tab-content{
	height: calc(100% - 102px);
	height: -o-calc(100% - 102px);
	height: -webkit-calc(100% - 102px);
	height: -moz-calc(100% - 102px);
}

.step-detail{
	font-size: smaller;
	font-style: italic;
	float: right;
}

.twitter-typeahead { 
	width: 100%; 
}
.typeahead {
  background-color: #FFFFFF;
	width: 100%;
}
.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 4px;
  padding: 4px 0;
  width: 100%;
  max-height: 300px;
  overflow: auto;
}
.tt-suggestion {
  font-size: 14px;
  line-height: 20px;
  padding: 3px 10px;
}
.tt-suggestion.tt-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
  cursor: pointer;
}
.tt-suggestion p {
  margin: 0;
}
.tt-suggestion + .tt-suggestion {
  border-top: 1px solid #ccc;
}
.typeahead-header {
  margin: 0 5px 5px 5px;
  padding: 3px 0;
  border-bottom: 2px solid #333;
}



@media (max-width: 767px){
  .url-break {
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

	.tab-content{
		height: calc(100% - 189px);
		height: -o-calc(100% - 189px);
		height: -webkit-calc(100% - 189px); 
		height: -moz-calc(100% - 189px);
	}
}
*/